body {
  margin: 0;
  font-family: 'Fira Sans','Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textoprincipal{
  font-size: 100px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10; /* Keep navbar on top */
  /* Other styling */
}

.navbar-overlay {
  display: none; /* Hidden by default, shown based on scroll position via JS */
  position: absolute;
  top: 100%; /* Directly below the navbar */
  left: 0;
  width: 100%;
  height: 10px; /* Height of the blur effect */
  filter: blur(10px);
  z-index: 9; /* Ensure it's below the navbar but above the content */
}


.content {
  position: relative;
  z-index: 1;
}